manifest {
    name = "nxf-emu"
    author = "angelovangel"
    homePage = "https://github.com/angelovangel/nxf-emu"
    defaultBranch = "main"
    description = "Nextflow pipeline for taxonomic profiling for full-length 16S reads (ONT, PacBio)"
    version = "0.1.0"
    nextflowVersion = ">=23.04"
    
}

params {
    pod5 = null
    model = "hac"
    reads = null
    filter = null
    samplesheet = null
    kit = null
    samplename = null
    db = "emu" // "emu" | "rdp" | "unite-all"
    outdir = "output"
    cpus = 32
}

profiles {
    standard {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g) --platform linux/amd64'
        process.cpus = params.cpus
    }

    dev {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process {
            cpus = 4
            withName: 'DORADO_BASECALL|DORADO_BASECALL_BARCODING' {
                container = null
            } 
        }
    }
}