manifest {
    name = "angelovangel/nxf-savont"
    author = "angelovangel"
    homePage = "https://github.com/angelovangel/nxf-savont"
    defaultBranch = "main"
    description = "Nextflow pipeline for taxonomic profiling for full-length 16S reads (ONT, PacBio)"
    version = "v0.1.7"
    nextflowVersion = ">=23.04"
    
}

params {
    pod5 = null
    model = "hac"
    reads = null
    subsample = null
    norm = null
    samplesheet = null
    kit = null
    samplename = null
    minreadlength = 1100 //for savont
    maxreadlength = 2000 //for savont
    species_threshold = 99
    genus_threshold = 94.5
    db = "emu" // "emu" or "silva"
    outdir = "output"
    cpus = 16
}

profiles {
    standard {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g) --platform linux/amd64'
        process.cpus = params.cpus
    }

    dev {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process {
            cpus = 4
            withName: 'DORADO_BASECALL|DORADO_BASECALL_BARCODING' {
                container = null
            } 
        }
    }
}